<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b7186dd0-dda1-4560-b1f5-755d50132318" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b7186dd0-dda1-4560-b1f5-755d50132318fileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="9db09756-be65-4cca-9b51-3c36b667ea3d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>